<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AutoScanFolderPath" value="C:\Users\Stanislav\Desktop\1" />
		<add key="ResultFolderPath" value="C:\Users\Stanislav\Desktop\Видео не сортированное" /><!--New folder on desktop if empty-->
		<add key="ProcessingFileFormats" value=".mp4, .mow, .avi, .mkv" /><!--All files if empty or like ".jpg, .jfif, .heic, .gif, .mp4, .avi"-->
		<add key="FolderItemsMaxLength" value="500" />
		<add key="NeedToDeleteSourceFile" value="true" />
	</appSettings>
</configuration>