<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AutoScanFolderPath" value="S:\Фотоальбом" />
		<add key="ResultFolderPath" value="S:\фото" /><!--New folder on desktop if empty-->
		<add key="ProcessingFileFormats" value=".jpg, .jfif, .heic, .heic, .png, .webp" /><!--All files if empty or like ".jpg, .jfif, .heic, .gif, .mp4, .avi"-->
		<add key="FolderItemsMaxLength" value="500" />
		<add key="NeedToDeleteSourceFile" value="true" />
	</appSettings>
</configuration>